<section id="footer" class="bg-dark mt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <a href="/" class="text-white text-decoration-none">© QRRestaurant 2021</a>
                <p class="h6">Desarrollado por <a class="text-primary text-decoration-none" href="/about-us">QRRestaurant Team</a></p>
            </div>
            <hr>
        </div>
    </div>
  </section>