<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/assets/img/logo.png" alt="" width="50" class="d-inline-block align-text-middle">
            QrRestaurant
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <% if(session.currentUser!=undefined && session.currentUser.admin){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/my-restaurants">Mis restaurantes</a>
                </li>
              <% } %>
              <li class="nav-item">
                <a class="nav-link" href="/about-us">Quienes somos</a>
              </li>
        </ul>
        <form class="d-flex">
          <% if(session.currentUser==undefined){ %>
            <a href="/login" class="btn btn-primary d-md-none d-lg-inline me-2">Iniciar Sesión</a>
          <% } else{%>
            <a href="/logout" class="btn btn-danger d-md-none d-lg-inline me-2">Cerrar Sesión</a>
          <% } %>
            <% if(currentUrl == '/my-restaurants'){ %>
              <a href="/restaurants/create" class="btn btn-success d-md-none d-lg-inline"><i class="bi bi-plus-circle"></i> Añadir Restaurante</a>
              <% } else{%>
              <a href="/qr-code" class="btn btn-primary d-md-none d-lg-inline">Escanear QR</a>
            <% } %>
        </form>
      </div>
    </div>
  </nav>