<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>QrRestaurant</title>
</head>
<body>
   



      <!--<h1><%= restaurants.every( restaurant => restaurant.email) %></h1>-->

      <% restaurants.forEach(restaurant => {%>


        <%=restaurant.email%>
      
      
      <%}) %>
    



      
</body>
</html>