<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/header') %>
    <title>Login</title>
</head>
<body>
    <%- include('../partials/primaryMenu') %>

    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <% if(typeof message != 'undefined'){ %>
                            <%- include('../partials/alert', {type: 'info', message}) %>
                        <% } %>

                        <form id="login-form" class="form needs-validation" action="/login" method="post" novalidate>
                            <h3 class="text-center">Iniciar Sesión</h3>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label><br>
                                <input type="email" name="email" id="email" class="form-control" required>
                                <div class="invalid-feedback">Introduce una dirección de correo electrónico válida.</div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña:</label><br>
                                <input type="password" name="password" id="password" class="form-control" required>
                                <div class="invalid-feedback">Para iniciar sesión debes introducir tu contraseña.</div>
                            </div>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" type="checkbox" id="remember-me" checked>
                                <label class="form-check-label" for="remember-me">Recordarme</label>  
                            </div>
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Iniciar sesión</button>
                            </div>
                            <div class="text-center">
                                <a href="/register" class="text-muted text-decoration-none">Aún no tienes cuenta? Registrate aquí</a>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/scripts') %>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
            })
        })()
    </script>
</body>
</html>