<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/header') %>
    <title>Quiénes somos | QRRestaurant</title>
</head>
<body>
  <%- include('../partials/primaryMenu') %>
  <div class="container">
    <div class="mt-3">
      <h3>Quiénes somos</h3>
      <h6>Surgimiento de la idea</h6>
      <p>
        Somos estudiantes de Ingeniería Informática en la Universidad de Córdoba. 
        Este proyecto surgió en la asignatura de Ingeniería Web donde como proyecto
        de prácticas tuvimos que diseñar e implementar una aplicación web que permitiese
        escanear códigos qr para el control de aforo en los restaurantes, principalmente
        para solventar los problemas ocasionados por la pandemia. 
      </p>

      <p>
        Todo el código y diagramas de diseño realizados a lo largo del proyecto los podrás 
        encontrar en nuestro 
        <a href="https://github.com/cristiancosano/QRRestaurant">repositorio de github</a>.
      </p>
      <h6>Staff</h6>
      <p>Nuestro equipo está formado por 5 miembros:</p>
      <div class="row m-0" style="margin: 0 auto;">
        <div class="col-md-2">
          <div class="card mb-5" >
            <img src="/images/antoniorodriguez.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title h6">Paco Almenara</h5>
              <p class="card-subtitle badge bg-success mb-1">User Design</p>

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card mb-5" >
            <img src="/images/antoniorodriguez.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title h6">Manuel Cortés</h5>
              <p class="card-subtitle badge bg-info mb-1">User Experience</p>

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card mb-5" >
            <img src="/images/cristiancosano.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title h6">Cristian Cosano</h5>
              <p class="card-subtitle badge bg-danger mb-1">Product Owner</p>

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card mb-5" >
            <img src="/images/antoniorodriguez.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title h6">Jose Manuel Gil</h5>
              <p class="card-subtitle badge bg-info mb-1">Analista Web</p>

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>

        <div class="col-md-2">
          <div class="card mb-5" >
            <img src="/images/antoniorodriguez.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title h6">Antonio Rodriguez</h5>
              <p class="card-subtitle badge bg-warning mb-1">Scrum Master</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
      



    </div>
  </div>    
    <%- include('../partials/footer') %>
</body>
</html>