<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="assets/img/logo.png" alt="" width="50" class="d-inline-block align-text-middle">
            QrRestaurant
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="myRestaurants.html">Mis restaurantes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-lg-none" href="login.html">Iniciar Sesión</a>
              </li>
        </ul>
        <form class="d-flex">
            <a href="login.html" class="btn btn-primary d-md-none d-lg-inline me-2">Iniciar Sesión</a>
            <a href="scanQRCode.html" class="btn btn-primary d-md-none d-lg-inline">Escanear QR</a>

        </form>
      </div>
    </div>
  </nav>